<% layout('../layouts/layout') -%>

<p>Welcome to your profile</p>
<a class="btn btn-light d-inline d-xl-flex justify-content-xl-start action-button" role="button" href="/user/signout"
    style="background-color: #3e3e3e;font-size: 18px;">Đăng xuất</a>
