<% layout('../layouts/layout') -%>

<div class="login-clean">
    <form method="post">
        <h2 class="sr-only">Login Form</h2>
        <div class="illustration" style="  padding: 0px;
"><img src="../images/QuizyGreen.png" style="width:240px;height:166.4px;" /></div>
        <div class="form-group"><input class="form-control" type="email" name="email" placeholder="Email" /></div>
        <div class="form-group"><input class="form-control" type="password" name="password" placeholder="Mật khẩu" /></div>
        <div class="form-group"><button class="btn btn-primary btn-block" type="submit" style="  background-color: #88cd4e;
">Đăng
                nhập</button></div><a href="#" class="forgot">Quên email hoặc mật khẩu?</a>
    </form>
</div>