<% layout('../layouts/layout') -%>
<script type="text/javascript" src="../javascripts/QuizGame.js"></script>
<script type="text/javascript" src="../javascripts/classic-mode-controller.js"></script>

<div class="container" id="game-container">
  <div class="row" style="padding: 30px 0px;">
    <div class="col-1 col-md-2 col-xl-2 d-md-flex d-lg-flex align-items-md-end justify-content-lg-start align-items-lg-start"
      style="width: 25%;"></div>
    <div class="col-1 col-md-8 col-xl-8" style="width: 50%;">
      <div class="card">
        <div id="topic" class="card-header d-flex float-left d-lg-flex justify-content-lg-start align-items-lg-start" style="width: 287px;min-width: 50%;max-width: 50%;height: 50px;background-color: #1eb53a;"></div>
        <div id="countdown" class="card-header float-left d-lg-flex justify-content-lg-end align-items-lg-start" style="width: 287px;min-width: 45%;max-width: 50%;height: 50px;background-color: #208f8f;"></div>
      </div>
      <div>
        <p id="question" style="padding: 15px 15px;font-size: 30px;width: 100%;">
          <strong>Ai là người đánh tan quân Nam Hán trên sông Bạch Đằng?</strong>
        </p>
        <div>
          <button id="answerA" class="btn btn-light text-center d-flex float-none btn-answer" type="button" style="width: 100%;">
            Chưa có
          </button>
        </div>
        <div>
          <button id="answerB" class="btn btn-light text-center d-flex float-none btn-answer" type="button" style="width: 100%;">
            Sắp có
          </button>
        </div>
        <div>
          <button id="answerC" action="/getQuestion" method="post" class="btn btn-light text-center d-flex float-none btn-answer"
            type="button" style="width: 100%;">
            Chuẩn bị có
          </button>
        </div>
        <div>
          <button id="answerD" class="btn btn-light text-center d-flex float-none btn-answer" type="button" style="width: 100%;">
            Nhấn nút dưới đi là có
          </button>
        </div>
        <div>
          <button id="nextQuestion" class="btn btn-light text-center d-flex float-none" type="button" style="width: 100%;">
            Câu tiếp
          </button>
        </div>
        <div>
          <button id="newGame" class="btn btn-light text-center d-flex float-none" type="button" style="width: 100%;">
            Ván mới
          </button>
        </div>
        <div class="question-container"></div>
      </div>
    </div>
    <div class="col-1 col-md-2 col-xl-2 d-md-flex d-lg-flex align-items-md-end justify-content-lg-start align-items-lg-start"
      style="width: 25%;"></div>
  </div>
</div>